<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <div>
    <img 
      class="profile-avatar"
      src="<%= profile.avatar %>"
      alt="<%= profile.name %>'s avatar"
    >
    <h2>Position:<%= profile.position %></h2>
    <h2>Level:<%= profile.level %></h2>
  </div>
  <% if (isSelf) { %>
    <a href="/profiles/<%= profile._id %>/edit">
      <button type="submit">Edit</button>
    </a>
    <a href="/profiles/<%= profile._id %>/notes">
      <button type="submit">Notes</button>
    </a>
    <button type="submit">Remove</button>
  <% } %>
</main>

<%- include('../partials/footer') %>