<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css">
<%- include('../partials/nav') %>

<main>
  <div>
    <h1><%= title %></h1>
    <div class="profile-info">
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>"
        alt="<%= profile.name %>'s avatar"
      >
      <h2>Position: <%= profile.position %></h2>
      <h2>Level: <%= profile.level %></h2>
    </div>
    <div class="btns">
      <% if (isSelf) { %>
        <a href="/profiles/<%= profile._id %>/edit">
          <i class="fa-solid fa-user-pen"></i>
        </a>
        <a href="/profiles/<%= profile._id %>/goals">
          <i class="fa-solid fa-bullseye"></i>
        </a>
        <a href="/profiles/<%= profile._id %>/stats">
          <i class="fa-solid fa-chart-simple"></i>
        </a>
        <a href="/profiles">
          <i class="fa-solid fa-people-group"></i>
        </a>
      <% } else { %>
        <a href="/profiles/<%= profile._id %>/stats">
          <i class="fa-solid fa-chart-simple"></i>
        </a>
        <a href="/profiles">
          <i class="fa-solid fa-people-group"></i>
        </a>
      <% } %>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>