<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/runs/edit.css">
<%- include('../partials/nav') %>

<main>
  <div>
    <h1><%= title %></h1>
    <form id="edit-run-form" action="/runs/<%= run._id %>?_method=PUT" method="POST">
      <div class="input-group mb-3">
        <label class="input-group-text" id="inputGroup-sizing-default">Date</label>
        <input type="date" name="date" value="<%= run.date %>" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Start Time</label>
        <select name="starttime" class="form-select" id="inputGroupSelect01">
          <option value="5:00 PM" <%= run.starttime === '5:00 PM' ? 'selected' : '' %>>5:00 PM</option>
          <option value="6:00 PM" <%= run.starttime === '6:00 PM' ? 'selected' : '' %>>6:00 PM</option>
          <option value="7:00 PM" <%= run.starttime === '7:00 PM' ? 'selected' : '' %>>7:00 PM</option>
          <option value="8:00 PM" <%= run.starttime === '8:00 PM' ? 'selected' : '' %>>8:00 PM</option>
          <option value="9:00 PM" <%= run.starttime === '9:00 PM' ? 'selected' : '' %>>9:00 PM</option>
          <option value="10:00 PM" <%= run.starttime === '10:00 PM' ? 'selected' : '' %>>10:00 PM</option>
          <option value="11:00 PM" <%= run.starttime === '11:00 PM' ? 'selected' : '' %>>11:00 PM</option>
          <option value="12:00 AM" <%= run.starttime === '12:00 AM' ? 'selected' : '' %>>12:00 AM</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">End Time</label>
        <select name="endtime" class="form-select" id="inputGroupSelect01">
          <option value="5:00 PM" <%= run.endtime === '5:00 PM' ? 'selected' : '' %>>5:00 PM</option>
          <option value="6:00 PM" <%= run.endtime === '6:00 PM' ? 'selected' : '' %>>6:00 PM</option>
          <option value="7:00 PM" <%= run.endtime === '7:00 PM' ? 'selected' : '' %>>7:00 PM</option>
          <option value="8:00 PM" <%= run.endtime === '8:00 PM' ? 'selected' : '' %>>8:00 PM</option>
          <option value="9:00 PM" <%= run.endtime === '9:00 PM' ? 'selected' : '' %>>9:00 PM</option>
          <option value="10:00 PM" <%= run.endtime === '10:00 PM' ? 'selected' : '' %>>10:00 PM</option>
          <option value="11:00 PM" <%= run.endtime === '11:00 PM' ? 'selected' : '' %>>11:00 PM</option>
          <option value="12:00 AM" <%= run.endtime === '12:00 AM' ? 'selected' : '' %>>12:00 AM</option>
        </select>
      </div>
      <div class="input-group input-group-sm mb-3">
        <label class="input-group-text" id="inputGroup-sizing-sm">Location</label>
        <input type="text" name="location" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="<%= run.location %>">
      </div>
      <div class="input-group input-group-sm mb-3">
        <label class="input-group-text" id="inputGroup-sizing-sm">Add. Info</label>
        <input type="text" name="note" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="<%= run.note %>">
      </div>
      <div>
        <button type="submit" class="btn btn-secondary">Save</button>
      </div>
    </form>
  </div>
</main>

<%- include('../partials/footer') %>