<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/runs/edit.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-run-form" action="/runs" method="POST">
    <label>
      Date:
      <input type="date" name="date" value="<%= run.date %>">
    </label>
    <label>
      Start Time:
      <input type="time" name="starttime" value="<%= run.starttime %>">
    </label>
    <label>
      End Time:
      <input type="time" name="endtime" value="<%= run.endtime %>">
    </label>
    <label>
      Location:
      <input type="text" name="location" value="<%= run.location %>">
    </label>
    <label>
      Host:
      <input type="text" name="host" value="<%= run.host %>">
    </label>
    <label>
      Note:
      <input type="text" name="note" value="<%= run.note %>">
    </label>
    <button type="submit">Save</button>
  </form>

</main>

<%- include('../partials/footer') %>