<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/runs/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>

  <div>
    <% if (runs.length) { %>
      <% runs.forEach(run => { %>
        <%= run.date %>
        <%= run.starttime %> 
        <a href="/runs/<%= run._id %>">details</a>
      <% }) %> 
    <% } else { %>
      <h2>NO RUNS SCHEDULED</h2>
    <% } %>
  </div>

</main>

<%- include('../partials/footer') %>