<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/runs/index.css">
<%- include('../partials/nav') %>

<main>
  <div class="run-list">
    <h1><%= title %></h1>
    <% if (runs.length) { %>
      <% runs.forEach(run => { %>
        <% console.log(run.date) %> 
        <div>
          <button type="button" class="btn btn-outline-light btn-lg">
            <a href="/runs/<%= run._id %>">
              <%= run.date %> @ <%= run.starttime %> 
            </a>
          </button>
        </div>
      <% }) %> 
    <% } else { %>
      <div>
        <h2>NO RUNS SCHEDULED</h2>
      </div>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>