<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/runs/show.css">
<%- include('../partials/nav') %>

<main>

  <h1><%= title %></h1>
  <section>
    <div>
      <p>Date: <%= run.date %></p>
      <p>Start Time: <%= run.starttime %></p>
      <p>End Time: <%= run.endtime %></p>
      <p>Location: <%= run.location %></p>
      <p>Host: <%= run.host %></p>
      <p>Note: <%= run.note %></p>
      <a href="/runs/<%= run._id %>/edit">
        <button type="submit">Edit</button>
      </a>
      <form action="/runs/<%= run._id %>?_method=DELETE" method="POST">
        <button type="submit">Remove</button>
      </form>
    </div>
  </section>

  <section>
    <h2>Sign Up</h2>
    <form action="/runs/<%= run._id %>/profiles" method="POST">
      <select name="profileId" id="profile-list">
        <% profiles.forEach(profile => { %>
          <option value="<%= profile._id %>"><%= profile.name %></option>
        <% }) %>
      </select>
      <button type="submit">put me in coach</button>
    </form>
    <% run.profiles.forEach(profile => { %>
      <%= profile.name %> 
      <form action="/runs/<%= run._id %>/profiles/<% profile._id %>?_method=DELETE" method="POST">
        <button type="submit">X</button>
      </form>
    <% }) %>
  </section>

</main>

<%- include('../partials/footer') %>