<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/runs/show.css">
<%- include('../partials/nav') %>

<main>

  <h1><%= title %></h1>
  <section>
    <div>
      <p>Date: <%= run.date %></p>
      <p>Start Time: <%= run.starttime %></p>
      <p>End Time: <%= run.endtime %></p>
      <p>Location: <%= run.location %></p>
      <p>Host: <%= run.host.name %></p>
      <p>Note: <%= run.note %></p>
    </div>
    <div>
      <% if (run.host.equals(user?.profile._id)) { %>
        <a href="/runs/<%= run._id %>/edit">
          <button type="submit">Edit</button>
        </a>
        <form action="/runs/<%= run._id %>?_method=DELETE" method="POST">
          <button type="submit">Remove</button>
        </form>
      <% } %>
    </div>
    <div>
      <a href="/runs">
        <button type="submit">Back to Runs</button>
      </a>
    </div>
  </section>

  <section>
    <h2>Players</h2>
    <% if (user) { %>
      <form action="/runs/<%= run._id %>/profiles" method="POST">
        <a href="/runs/<%= run._id %>">
          <button type="submit">Add Me</button>
        </a>
      </form> 
    <% } %> 
    <% if (user) { %>
      <form action="/runs/<%= run._id %>/profiles/?_method=DELETE" method="POST">
        <a href="/runs/<%= run._id %>">
          <button type="submit">Remove Me</button>
        </a>
      </form>
    <% } %> 
    <% if (run.profiles.length) { %>
      <table>
        <thead>
          <tr>
            <th>Player</th>
            <th>Position</th>
            <th>Level</th>
          </tr>
        </thead>
        <tbody>
          <% run.profiles.forEach(profile => { %>
            <tr>
              <td>
                <%= profile.name %>
              </td>
              <td>
                <%= profile.position %> 
              </td>
              <td>
                <%= profile.level %> 
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <h3>NO PLAYERS LISTED</h3>
    <% } %>
  </section>
</main>

<%- include('../partials/footer') %>